# CodeIgniter3
application/config/development
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# Application related
assets/*
!assets/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
*/sessions/*
!*/sessions/index.html
*/third_party/*
!*/third_party/composer.json
!*/third_party/index.html
sitemap.xml
tmp

# Composer
/vendor/

# Docker
/docker/mysql/data/

# JetBrains PhpStorm
/nbproject/
.idea/
*.iml
*.ipr
*.iws

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# Visual Studio Code
.vscode/
*.code-workspace

# Other
.DS_Store
Thumbs.db
._*
*.bak
*.diff
*.lock
*.log
*.orig
*.patch
*.rej
